name: Run Unit Tests

on: [push]

jobs:
  test-linux:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Run tests on Linux
      run: |
        python -m unittest test_circle.py test_rectangle.py test_square.py test_triangle.py -v

  test-windows:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Run tests on Windows
      run: |
        python -m unittest test_circle.py test_rectangle.py test_square.py test_triangle.py -v